/* ELEMENT STYLES */
body,
html {height: 100%;}

h4 {
	font-size: 18px;
	margin-bottom: 0;
 }

/* HEADER STYLES */
.header {border-bottom: 2px solid #9d9d9d;}

.links {
 	align-items: center;
 	display: flex;
 	justify-content: flex-end;
}

.logo-row {overflow: hidden;}

.logo {
 	align-items: center;
 	background-color: #ececec;
 	border-right: 1px solid #9d9d9d;
 	display: flex;
 	margin-bottom: -99999px;
 	padding-bottom: 99999px;
 }

.logo-div {padding: 10px;}

.tag {color: #8d8d8d;}

.markdown-header {
 	border-right: 2px solid #9d9d9d;
 	padding: 10px;
}

.mark-prev {color: #9d9d9d;}

.menu {
 align-items: center;
 display: flex;
 justify-content: space-between;
 padding: 10px;
 width: 100%;
 }

.navigation {
 background-color: #4a4a4a;
 color: #fff;
 display: flex;
 font-size: 18px;
 font-weight: 400;
}

.navigation h4 {
 	height: 100%;
 	margin-left: 0px;
 	padding: 10px;
}

.preview-header {
 	border-left: 2px solid #9d9d9d;
 	padding: 10px;
}

#save-button {
	margin-bottom: 0;
	margin-left: 30px;
	margin-right: 30px;
}

#save-button a {
	color: #fff;
	cursor: pointer;
}

#word-count {
	color: #8d8d8d;
	margin-bottom: 0;
}

/* SIDEBAR STYLES */
.document {
  border-bottom: 1px solid #9d9d9d;
 	margin: 1em 0;
 	padding: 10px;
}

.document-name {
	list-style: none;
	padding: 0px;
}

.fa-trash,
.fa-plus {float: right;}

.new-file {
	border-bottom: none;
	color: #8d8d8d;
	cursor: pointer;
 }

 #fork-github {
 	color: #636363;
 	margin-left: 15px;
 	margin-top: 200px;
 	position: absolute;
 	text-decoration: underline;
 	vertical-align: bottom;
  }

/* EDITOR STYLES */
.input {padding: 0px;}

.text-area {
 	border: none;
 	height: 600px;
 	outline: none;
 	overflow: hidden;
 	resize: none;
 	width: 100%;
}

.editor {
 	border-right: 2px solid #9d9d9d;
 	height: 600px;
 	padding: 10px;
}

/* PREVIEW STYLES */
.preview {
 	border-left: 2px solid #9d9d9d;
 	height: 600px;
 	padding: 10px;
}

.block-quote {
	color: #636363;
	font-size: 13px;
 }























.other-class {
	background-color: #ececec;
	border-right: 1px solid #9d9d9d;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
	padding: 0px;
 }
