.container-fluid.header
  .row.logo-row
    .col-md-4.logo
      div.logo-div
        h4 mmmarkdown
        p.tag
          em a yummy markdown editor
    .col-md-8
      .row.navigation
        div.menu
          h4 ExampleFile.md
          div.links
            p#word-count 183 words
            p#save-button 
              a Save
      .row.mark-prev
        .col-md-6.markdown-header
          h4 MARKDOWN
        .col-md-6.preview-header
          h4 PREVIEW
