.container-fluid
  .row.logo-row
    .col-md-4.other-class
      div
        ul.document-name.render-list
          each title in files
            li.document 
              h4= title
                span 
                  i.fa.fa-trash(aria-hidden='true') 
        ul.document-name
          li.document.new-file
            h4
              | New File
              span
                i.fa.fa-plus(aria-hidden='true')
        a#fork-github(href='#') Fork me on GitHub
    include editor.pug 
